/*Global*/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
-webkit-overflow-scrolling: touch;
font-size: 14px;
font-family: noto-rg;


}

body {
    overflow-x: hidden;
    height: 100%;
/*    position: fixed;*/
        width: 100%;
        height: 100%;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
    background: transparent;
}
/*
#myContent, 
main {
    height: 100%
}
*/

.js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important;
}

::placeholder {
    text-align: left;
    /*mozilla*/
    font-family: noto-rg;
    color: #7E7E7E
}
button{
    border: 0;
    background-color: transparent;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: left
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: left
}

::-webkit-input-placeholder {
    text-align: left
}
input:focus,
button:focus,
textarea{
    outline: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: #000;
    width: auto;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
a[href^=tel] { color: inherit; text-decoration: none;  }

a:hover {
    text-decoration: none;
    color: #000
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

.animated {
    animation-duration: 2s;
}
.container-fluid{
    padding-left:140px;
    padding-right:140px;
}
.m-btn{
    width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: #F05C6D;
    color: #fff;
    font-size: 18px;
    transition: all .3s;
    border:1px solid;
    cursor: pointer;
    text-align: center;
}

.m-btn:hover{
    background-color: transparent;
    color: #F05C6D;
    transition: all .3s;
}
.m-btn-green{
    background-color: #1BBAA2;
   
}
.m-btn-green:hover{
    border-color: #1BBAA2;
    color: #1bbaa2
}
.kf-title{
    font-size: 20px;
    font-family: noto-bd;
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    margin-bottom:8px;
    padding:0 40px;

}
.kf-sub-title{
    font-size: 16px;
    line-height: 26px;
    color: #7B7B7E;
}
.kf-title:after,
.kf-title:before{
    content: '';
    height: 2px;
    width: 30px;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    background:#1BBAA2;
}
.kf-title:after{
    
    right: 0;
}
.kf-title:before{
    
    left: 0;
}

.kf-title-s{
    padding-right: 0;
}
.kf-title-s:after{
    display: none;
}
.pg-head{
    background-color: #F7F7FC;
    padding: 15px 50px;
}
.pg-head .d-flex{
    justify-content: space-between;
}
.pg-head .title {
    font-size: 30px;
    font-family: noto-bd;
    text-transform: uppercase;
}
.pg-head .kf-breadcrumb ul li{
    position: relative;
    display: inline-block;
}
.pg-head .kf-breadcrumb ul li a {
    color: #7A7A7D;
    font-size: 14px;
}
.pg-head .kf-breadcrumb ul li a:hover{
    text-decoration: underline;
}
.pg-head .kf-breadcrumb ul li:not(:last-child) {
    padding-right: 10px;
}
.pg-head .kf-breadcrumb ul li:not(:last-child):after{
    content: '/';
    position: absolute;
    top:50%;
    right:1px;
    transform:translateY(-50%);
    font-size: 12px;
}
@font-face {
    font-family: noto-bd;
    src: url(../fonts/NotoSans-Bold.ttf);
}
@font-face {
    font-family: noto-rg;
    src: url(../fonts/NotoSans-Regular.ttf);
}
/* Start Header Style */
header{
    padding:30px 0;
    position: relative;
    transition: all .3s;
}

header.sticky {
    position: fixed;
    background: #fff;
    z-index: 9;
    width: 100%;
    transition: all .3s;
    box-shadow: 0px 2px 8px #0000000d;
}
header .container-fluid > .d-flex{
    justify-content: space-between;
    align-items: center;
}
header .logo-nav .logo{
    width:148px;
    height:62px;
}
header .logo-nav .logo img{
    max-width: 100%;
    max-height:  100%;
    object-fit:cover;
}
header .logo-nav nav {
    margin : auto auto auto 60px;
}
header .logo-nav nav ul li{
    display: inline-block;
}
header .logo-nav nav ul li:not(:last-child){
    margin-right:20px;
}
header .logo-nav nav ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #989898;
    transition: all .3s;
}
header .logo-nav nav ul li:hover a{
    color: #000;
    transition: all .3s;
}
header .logo-nav nav ul li.active a{
    color: #000;
}
header .bf-sign{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .bf-sign .in-out {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:300px;
    border-radius: 30px;
    position: relative;
    background-color: #F7F7FC;
    height: 57px;
}
header .bf-sign .in-out:after{
    content: '';
    height: 60%;
    width: 2px ;
    background-color: #EDEDF7;
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%)
}
header .bf-sign .in-out a{
    font-size:18px;
    text-transform: capitalize;

}
header .bf-sign .in-out a i{
    color : #1BBAA2;
    margin-right: 10px;
    font-size:18px;
    vertical-align: baseline;
}
header .bf-sign .lang{
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1BBAA2;
    height:57px;
    width:57px;
    margin-left:10px;
}
header .bf-sign .lang a{
    color: #fff;
    font-size: 18px;
}
header .bf-sign .lang a:hover,
header .bf-sign .in-out a:hover{
    text-decoration: underline;
}
header .af-sign{
    display: none;
}
header.logged .bf-sign{
    display: none;
}
header.logged .af-sign {
    display: flex;
    align-items: center;
}
header .af-sign .profile-info{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
header .af-sign .profile-info .user-img{
    position: relative;
    width: 57px;
    height:57px;
    border-radius: 50%;
    margin-right: 15px;
}
header .af-sign .profile-info .user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
header .af-sign .profile-info .pf-progress {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(.54);
}
header .af-sign .profile-info .pf-progress .progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  header .af-sign .profile-info .user-info h5 {
      font-size:15px;
      margin-bottom: 5px;
  }
  header .af-sign .profile-info .user-info h6 {
      font-size: 13px;
      color: #FF9254;
  }
  header .af-sign .profile-info .user-info h6 span{
      vertical-align: baseline;
  }
  header .af-sign .profile-actions  ul.main-ul {
      display : flex;
  }
  header .af-sign .profile-actions  ul.main-ul > li:not(:last-child){
      margin-right: 15px;
  }
 
  header .af-sign .profile-actions  ul.main-ul > li > a {
      width:57px;
      height:57px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background-color: #F7F7FC;
      border-radius: 50%;
    border: 2px solid transparent;
    transition: all .3s;      
  }
  header .af-sign .profile-actions  ul.main-ul > li:hover a{
      border-color:#343456;
      transition: all .3s;
  }
  
  header .af-sign .profile-actions  ul.main-ul > li a > i {
    color: #343456;
    font-size: 20px
  }
  header .af-sign .profile-actions  ul.main-ul > li a > b {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F05C6D;
      color: #fff;
      position: absolute;
      top:-5px;
      right: -5px;
      border-radius: 50%;
  }
  header .af-sign li.has-child{
    position: relative;
}
header .af-sign li.has-child:after{
    position: absolute;
    content: '';
    background-image: url(../imgs/Group\ 1480.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    z-index: 101;
}
header .af-sign li.has-child:hover:after{
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}

header .af-sign li.has-child .search-inp{
    width:300px;
}
header .af-sign li.has-child .search-inp input{
    border: 0;
    outline: 0;
    padding:20px 40px 20px 20px;
    background-color: #F7F7FC;
    border-radius: 30px;
    border:1px solid transparent;
    width:100%;
    transition: all .3s;
}
header .af-sign li.has-child .search-inp input:focus{
    border-color:#343456;
    transition: all .3s;
}
header .af-sign li.has-child .search-inp .search-btn{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    cursor: pointer;
    right: 20px;
}
header .af-sign li.has-child .s-menu{
  padding: 3px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  box-shadow: 0 24px 25px #00000017;
  visibility: hidden;
  opacity: 0;
  transition: all .1s;
  top: 0;
  transform: translate(-50%, 69px);
  z-index: 100;
}
header .af-sign li.has-child:hover .s-menu {
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}
header .af-sign  .settings {
    width: 200px;
}
header .af-sign  .langs{
    width:150px
}
header .af-sign  .settings a{
    padding:  20px 0;
    background-color: #F7F7FC ;
    color: #343456;
    text-align: center;
    display: block;
    width: 100%;
    transition: all .3s;
}
header .af-sign  .settings a:hover{
    background-color: #343456;
    color: #fff;
    transition: all .3s;
}
header .af-sign  .settings a:not(:last-child){
    border-bottom: 1px solid #fff !important
}
header .af-sign  .settings a:first-child,
header .af-sign .notifications .d-flex:first-child{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
header .af-sign  .settings a:last-child,
header .af-sign .notifications .view-all{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
header .af-sign .notifications {
    width: 350px;
}
header .af-sign .notifications .d-flex{
    padding:20px;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
}

header .af-sign .notifications .d-flex:not(:last-child){
    border-bottom: 1px solid #EDEDF7 !important
}
header .af-sign .notifications .d-flex.new {
    background : #F7F7FC;
}
header .af-sign .notifications .logo{
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid #EDEDF7;
    margin-right: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
header .af-sign .notifications .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header .af-sign .notifications .d-flex >  p b{
    vertical-align: baseline;
}
header .af-sign .notifications .d-flex >  p span{
    display: block;
    font-size: 11px;
    color: #7A7A7D
}
header .af-sign .notifications .view-all {
    text-transform: uppercase;
    background-color: #E3E3EB;
    padding:20px 0;
    font-family: noto-bd;
    transition: all .3s;
    display: flex;
    justify-content: center;
}
header .af-sign .notifications .view-all:hover{
    opacity: .8;
    transition: all .3s;
}
/* End Header Style */
/* Start Hero Style */
.hero .join-slider .owl-dots{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-top: 40px;
}
.hero .join-slider.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 0;
}
.hero .join-slider .item {
    justify-content: space-between;
}
.hero .join-slider .item > div:first-of-type{
    padding-left:40px;
    padding-top:40px;
}
.hero .join-slider.owl-theme .owl-dots .owl-dot.active span,
.hero .join-slider.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #1BBAA2;
 }
 .hero .join-slider.owl-theme .owl-dots button:focus{
     outline: 0;
 }
 .hero .join-slider .item h3{
     text-transform: uppercase;
     font-size: 30px;
 }
 .hero .join-slider .item h1{
     font-size: 40px;
     font-family: noto-bd;
     margin: 10px 0;
     text-transform: capitalize;
 }
 .hero .join-slider .item p {
    width: 510px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
 }
 .hero .join-slider .item > div:nth-child(2) {
     width: 400px;
     height: 500px;
 }
 .hero .join-slider .item > div:nth-child(2) img{
     max-width: 100%;
     max-height: 100%;
     object-fit: cover;
     height: 100%;
 }
 .hero .bottom-sec .statics-slider .item{
     text-align: center;
     padding: 20px;
     box-shadow: 0 0 24px #00000017;
     border-radius: 30px;
     background-color: #fff;
     transition: all .3s;
 }
 .hero .bottom-sec .statics-slider .item .icon,
 .home-wrap .my-stats .d-flex > div .icon{
     width: 100px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 100%;
     background-image: linear-gradient(to right, #FFAE3B , #FF716F);
     position: relative;
     border: 8px solid #fff;
     margin: auto;
 }
 .hero .bottom-sec .statics-slider .item .icon:after,
 .home-wrap .my-stats .d-flex > div .icon:after{
     position: absolute;
     content: " ";
     right:-8px;
     top:-8px;
     width: 100px;
     height: 100px;
     background-image: url(../imgs/green-border.png);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
 }
 
 .hero .bottom-sec .statics-slider .item .icon img{
     object-fit: contain;
     width: 45px;
 }
 .hero .bottom-sec .statics-slider .item h2{
     font-family: noto-bd;
     font-size: 35px
 }
 .hero .bottom-sec .statics-slider .item h6{
     font-size:16px;
     text-transform: uppercase;
     color: #7E7E7E;
     margin-top:4px
 }
 .hero .bottom-sec .statics-slider .item p{
     font-size: 13px;
     margin-top: 10px;
     display: -webkit-box;   
   -webkit-line-clamp: 3;   
   -webkit-box-orient: vertical;     
   overflow: hidden; 
   display: none;

 }
 .hero .bottom-sec .statics-slider{
     margin-top:-80px;
     min-height:295px;
 }
 .statics-slider .owl-stage-outer { 
    overflow: visible !important;
    }
    
    .statics-slider  .owl-item {
       opacity: 0;
       transition: opacity 500ms;
    }
    .statics-slider  .owl-item.active {
      opacity: 1;
    }
    .hero .statics-slider .owl-nav > button,
    .our-partners .partners-slider .owl-nav > button{
        display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 3px 20px #00000029;
    color: #F05C6D;
    position: absolute;
    top: 60px;
    }
     .owl-nav > button:focus{
        outline: 0;
    }
    .hero .statics-slider .owl-nav > button.owl-next,
    .our-partners .partners-slider .owl-nav > button.owl-next{
        right: -90px
    }
    .hero .statics-slider .owl-nav > button.owl-prev,
    .our-partners .partners-slider .owl-nav > button.owl-prev{
        left: -90px
    }
    .hero .statics-slider .owl-nav > button i ,
    .our-partners .partners-slider .owl-nav > button i{
        font-size: 35px
    }
/* End Hero Style */
/* Start Services Style */
.services{
    background-image: url(../imgs/our-services-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 550px;
    margin-top: 50px;
    position: relative;
}
.services .img{
    width: 220px;
    margin: auto;
}
.services .img img{
    max-width: 100%;
}
.services .info h1{
    font-size: 40px;
    font-family: noto-bd;
    margin-bottom: 8px;
    color: #0CAB93;
    text-transform: capitalize;
}
.services .info p {
    font-size: 15px;
    line-height: 25px;
}
.services .info ul{
    margin-top: 50px
}
.services .info ul li {
    display: inline-block;
}
.services .info ul li:not(:last-child){
    margin-right:10px
}
.services .info ul li a {
    width:70px;
    height:70px;
    border-radius: 30px;
    opacity: .7;
    transition: all .3s;
    border: 4px solid #fff;
    box-shadow: none;
}
.services .info ul li:hover a{
    opacity: 1;
    box-shadow: 0 24px 25px #00000017;
}
.services .info ul li a img{
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}
/* End Services Style */
/* Start Survyes Style */
.survyes{
    background-color:#F7F7FC;
    margin-top: -98px;
    padding-top: 200px;
    padding-bottom: 50px;
}
.survyes-container{
    margin-top: 80px
}
.survyes-container .nav-tabs{
    border: 0;
    margin-bottom: 30px;
    justify-content: center;
}
.survyes-container .nav-tabs li:not(:last-child){
    margin-right: 15px;
}
.survyes-container .nav-tabs .nav-link{
    border: 0;
    background: #EDEDF7;
    border-radius: 30px;
    padding: 10px 20px;
    color: #75757A;
    transition: all .3s;
    text-transform: capitalize;
    transition: all .3s;
    border:2px solid transparent;
}
.survyes-container .nav-tabs .nav-link:hover{
    border-color: #343456;
    transition: all .3s;
}
.survyes-container .nav-tabs .nav-link i {
    vertical-align: middle;
}
.survyes-container .nav-tabs .nav-item.show .nav-link,
.survyes-container .nav-tabs .nav-link.active{
    background-color: #343456;
    color: #fff;
    font-family: noto-bd;
    transition: all .3s;
 }
 .survyes-container .nav-tabs .nav-item.show .nav-link i,
.survyes-container .nav-tabs .nav-link.active i {
    color: #EBC660;
    transition: all .3s;
}
.survey-card{
    border-radius: 30px;
    border: 1px solid #EDEDF7;
    margin-bottom: 30px;
}
.survey-card .top,
.survey-card .bottom{
    padding: 20px;
}
.survey-card .top{
    background: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.survey-card .top .d-flex{
    align-items: center;
}
.survey-card .comp-logo {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid #EDEDF7;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 15px;
}
.survey-card .comp-logo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.survey-card .comp-logo > span {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    background: #EBC660;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}
.survey-card .text > p {
    font-size:16px;
    line-height: 26px;
}
.survey-card .text > h6{
    font-size: 13px;
    color: #7E7E7E;
    display: inline-block;
    vertical-align: baseline;
}
.survey-card .text > h6:first-of-type{
    margin-right: 15px;
}
.survey-card .text > h6 i{
    color : #1BBAA2;
    vertical-align: middle;
    font-size: 11px;
}
.survey-card .timer{
    justify-content: space-between;
    align-items: center;
}
.survey-card .timer .m-btn{
    background-color: #1BBAA2;
    width: 100px;
    font-size: 15px;
    height: 45px;
}
.survey-card .timer .m-btn:hover{
    background-color: transparent;
    border-color:#1BBAA2;
    color : #1BBAA2
}
.survey-card .timer h5 span{
    display: block;
    color: #7A7A7D;
    text-transform: capitalize;
    margin-top:2px
}
.survey-card .timer h5{
    display: inline-block;
    text-align: center;
    margin:0 5px;
    font-family: noto-bd;
}
.survey-card .timer h5:first-of-type{
    margin-left: 0;
}
.survey-card .timer h5:last-of-type{
    margin-right: 0;
}
.survey-card .poll-card .info{
    padding: 15px;
    border-bottom: 1px solid  #F7F7FC
}
.survey-card .poll-card .info img{
    width:60px;
    height:60px;
    border: 1px solid #EDEDF7;
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px
}
.survey-card .poll-card .info{
    align-items: center;
}
.survey-card .poll-card .answers{
    padding: 15px;
}
.survey-card .poll-card .answers li:not(:last-child){
    margin-bottom: 15px
}
.survey-card .poll-card .answers input[type='radio'] {
    display: none;
}
.survey-card .poll-card .answers label{
    position: relative;
    height: 30px;
    background: #F7F7FC;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    padding-right: 50px;
    padding-left: 40px;
}
.survey-card .poll-card .answers label span{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.survey-card .poll-card .answers li h6{
    margin-bottom: 5px
}
.survey-card .poll-card .answers li:nth-of-type(1) label span {
    background-color: #CE93D8;
}
.survey-card .poll-card .answers li:nth-of-type(2) label span {
    background-color: #9FA8DA;
}
.survey-card .poll-card .answers li:nth-of-type(3) label span {
    background-color: #81D4FA;
}
.survey-card .poll-card .answers label span b {
    position : absolute;
    right: 20px;
    top:50%;
    transform:translateY(-50%)
}
.survey-card .poll-card .answers label:before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EDEDF7;
    background: #fff;
}
.survey-card .poll-card .answers input:checked ~ label:before{
    transition: all .3s;
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
    color: #1BBAA2 
}
.survey-card .poll-card .vote{
    padding: 15px;
    background: #F7F7FC;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.survey-card .poll-card .vote .d-flex{
    justify-content: space-between;
    align-items: center;
}
.survey-card .poll-card .vote .d-flex li {
    display: inline-block;
    color: #7A7A7D
    
}
.survey-card .poll-card .vote .d-flex li:not(:last-child){
    margin-right: 10px
}
.survey-card .poll-card .vote .d-flex li i {
    color: #343456;
    font-size: 11px;
    vertical-align: middle;
}
.survey-card .poll-card .vote .m-btn{
    width: 100px;
    font-size: 15px;
    height: 45px;
}
.home-wrap .survyes{
    background: #fff
}
/* End Survyes Style */
/* Start Our Partners Style */
.our-partners{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #F7F7FC;
    position: relative;
}
.wave {
    position: absolute;
    height: 70px;
    width: 100%;
    background: #F7F7FC;
    bottom: 0;
  }
 .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
 .wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
  }
  .wave::after {
    width: 55%;
    height: 100%;
    background-color: #F7F7FC;
    left: -1.5%;
    top: 40%;
  }
.our-partners .kf-sub-title{
    width:700px;
    margin: auto;
}
.our-partners .partners-slider{
    margin-top: 60px;
}
.our-partners .partners-slider .item{
    background-color: #fff;
    border-radius: 30px;
    padding:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.our-partners .partners-slider .item .logo{
    width: 170px;
    height: 170px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #EDEDF7;
    margin-bottom: 20px;
}
.our-partners .partners-slider .item .logo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.our-partners .partners-slider .owl-nav > button{
    top: 50%;
    transform: translateY(-50%);
    background-color: #F05C6D;
    color: #ffff
}
/* End Our Partners Style */
/* Start contact us style */
 .contact-us{
     padding: 100px 0;
     position: relative;
  
 }
 .contact-us .form-sec > h2{
     font-size:30px;
     font-family: noto-bd;
     text-align: center;
     text-transform: capitalize;
 }
 .contact-us .form-sec > p{
     font-size:14px;
     line-height: 26px;
     color: #7A7A7D;
     text-align: center;
 }
 .contact-us .form-sec form{
     margin-top:40px;
 }
 .contact-us .form-sec form .d-flex > div {
    width: 50%
 }
 .contact-us .form-sec form .d-flex > div:first-of-type{
     margin-right: 15px;
 }
 .contact-us .form-sec form input,
 .contact-us .form-sec form textarea{
     background-color: #F7F7FC;
     color: #7A7A7D;
     width: 100%;
     padding:20px;
     border-radius: 30px;
     border: 2px solid transparent;
     transition: all .3s;
 }
 .contact-us .form-sec form input:focus,
 .contact-us .form-sec form textarea:focus{
     background-color: transparent;
     border-color: #1BBAA2;
     transition: all .3s;
 }
 .contact-us .form-sec form input::placeholder,
 .contact-us .form-sec form textarea::placeholder{
     color: #7A7A7D
 }
 .contact-us .form-sec form input:not(:last-of-type){
     margin-bottom: 15px;
 }
 .contact-us .form-sec form textarea{
     height: 74%;
     margin-bottom: 15px;
     resize: none;
 }
 .contact-us .form-sec form .m-btn{
     width: 100%;
     height:61px;
 }
 .contact-us .social-sec{
     padding: 0 0 0 20px;
     border-left: 1px solid #EDEDF7;
     height: 100%;
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
 }
 .contact-us .social-sec h6{
     font-family: noto-bd;
     margin-bottom: 4px;
     text-transform: uppercase;
     font-size:16px
 }
 .contact-us .social-sec ul {
     display: flex;
     margin-bottom: 30px;
     margin-top: 5px;
 }
 .contact-us .social-sec ul li a {
     width:48px;
     height:48px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     transition: all .3s;
     color: #707070;
 }

 .contact-us .social-sec ul li i{
     font-size: 20px;
 }
 .contact-us .social-sec ul li a:hover{
     background: #F05C6D;
     color: #fff
 }
 .contact-us .social-sec ul li:not(:last-child){
    margin-right: 10px;
 }
 .contact-us .social-sec .s-info:not(:last-of-type){
     margin-bottom: 25px;
 }
 .contact-us .social-sec .s-info img {
    object-fit: contain;
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
 }

/* End contact us style */
/* Start Newsletter Section */
.newsletter {
    padding: 100px 0;
    background: #F7F7FC
}
.newsletter .text h1 {
    font-family: noto-bd;
    font-size:40px;
    text-transform: capitalize;
}
.newsletter .text h1 i {
    font-size: 40px;
    color: #C6C6CA;
    vertical-align: baseline;
}
.newsletter .text p {
    color: #7B7B7E;
    font-size: 16px;
    line-height: 26px;
    margin-top:5px
}
.newsletter form {
    display: flex;
}
.newsletter form input[type='email']{
    width:400px;
    border-radius: 30px;
    color:#7E7E7E;
    background-color: #fff;
    padding:20px;
    border: 1px solid transparent;
    margin-right:20px;  
    transition: all .3s;

}
.newsletter form input[type='email']:focus{
    background-color: #fff;
     border-color: #1BBAA2;
     transition: all .3s;
}
/* End Newsletter Section */
/* Start footer style */
footer {
    background-color: #EDEDF7;
    padding:25px 0;
    position: relative;
}
footer .cpy {
    color: #7e7e7e;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left: 140px
}
footer .social ul {
    display: flex;
}
footer .social ul li:not(:last-child) {
    margin-right: 15px
}
footer .social ul li a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    transition: all .3s;
}
footer .social ul li a i {
    font-size: 20px;
    color: #7A7A7D;
    transition: all .3s;
}
footer .social ul li:hover a{
    background: #F05C6D;
    transition: all .3s;
} 
footer .social ul li:hover a i {
    color: #fff;
    transition: all .3s;
}
/* End footer style */
.tooltip-inner {
    background-color: #343456 !important;
    border: 2px solid #fff !important;
    color: #fff !important;
    border-radius: 10px;
    padding:10px 15px;
    opacity: 1 !important
}

 
/* Cusomter Support Fixed Button */
.customer-support{
    position: fixed;
    bottom:40px;
    right:40px;
    z-index: 99;
}
.customer-support a span{
    width:80px;
    height:80px;
    display: flex;
    justify-content: center;
    background-color: #EDEDF7;
    border:4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px #00000029;
}
.customer-support a span img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
/* /Cusomter Support Fixed Button */
/* Start Modals Style */

.modal.solid ~ .modal-backdrop.show{
    background-color: #343456;
    opacity: 1;
}
.modal.login .modal-dialog{
    width:483px;
}
.modal .modal-content{
    padding: 30px;
    border-radius: 30px;
}
.modal .modal-header {
    justify-content: center;
    border: 0;
    padding: 0;
    margin-bottom: 20px;
}
.modal .modal-header .close{
    position: absolute;
    right: 30px;
    top: 20px;
    margin: 0;
    padding: 0;
}
.modal .modal-header .modal-title{
    padding-top:5px;
    font-size: 28px;
}
.modal .modal-body{
    padding: 0;
}
.modal form .s-input{
    margin-bottom: 15px;
    position: relative;
}
.modal form .s-input > i {
    position: absolute;
    font-size: 20px;
    color: #1BBAA2;
    top:50%;
    transform:translateY(-50%);
    left:25px
}
.modal form .s-input input:not(input[type='checkbox']){
    color: #7A7A7D;
    width: 100%;
    padding: 20px 20px 20px 50px;
    border-radius: 30px;
    border: 2px solid #EDEDF7;
    transition: all .3s;
}
.modal form .s-input input:not(input[type='checkbox']):focus{
    border-color:#1bbaa2;
    transition: all .3s;
}
.modal .s-input.checkbox input {
    display: none;
}
.modal .s-input.checkbox label{
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}
.modal .s-input.checkbox label::before{
    content: '';
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid #EDEDF7;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.modal .s-input.checkbox label::after{
    font-family: "Font Awesome 5 Free";
     font-weight: 900;
      content: "\f00c";
      position: absolute;
      left:3px;
      color : #1BBAA2;
      opacity: 0;
      transition: all .3s;
}
.modal .s-input.checkbox input:checked ~ label::after{
    opacity: 1;
    transition:  all .3s;
}
.modal.login .d-flex {
    justify-content: space-between;
    margin-top: 20px;
}
.modal.login .d-flex > a:first-of-type{
    color: #343456;
}
.modal.login .d-flex > a:last-child{
    color: #7A7A7D
}
.modal.login .d-flex > a:hover{
    text-decoration: underline;
}
.modal.sign-up .modal-dialog,
.modal.welcome .modal-dialog{
    max-width:700px;
}
.modal.welcome .d-flex{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal.welcome .d-flex h1 {
    font-family: noto-bd;
    font-size:60px;
    text-transform: uppercase;
    margin: 20px
}
.modal.welcome .d-flex h1 span{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'noto-bd';
    letter-spacing: 10px;
}
.modal.welcome .d-flex p {
    font-size: 17px;
    margin-bottom: 30px;
}
.modal.welcome .d-flex p b {
    font-size: inherit;
    vertical-align: baseline;
    color: #1BBAA2
}
.modal.welcome .d-flex .m-btn{
    width: 400px;
}
.ref-code{
    padding:15px 20px;
    background: #F7F7FC;
    border-radius: 30px;
}
.ref-code .d-flex{
    justify-content: space-between;
    margin-bottom: 10px;
}
.ref-code .d-flex p {
    font-size: 14px;
    margin: auto 0;
}
.ref-code .d-flex span{
    color: #7A7A7D;
    display: flex;
    align-items: center;
}
.ref-code .d-flex b {
    font-size: 20px;
    color: #1BBAA2;
    margin-right: 5px;
}
.ref-code a.send-btn{
    background: #9898A9;
    border-radius: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 68px;
    right: 30px;
    border: 2px solid transparent;
    transition: all .3s;
}
.ref-code a.send-btn:hover{
    border-color: #9898A9;
    background: transparent;
    color: #9898A9;
    transition: all .3s;
}
.modal.sign-up .g-recaptcha{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.ref-code > i
{
    transform: translateY(10px) !important;
    left: 40px !important;
}
.modal.sign-up .m-btn{
    margin: auto;
    width:350px;
}
 .invalid-icon{
    display: none;
}
.invalid .invalid-icon {
    position: absolute;
    right: 20px;
    width:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #F05C6D;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.invalid input{
    border-color: #F05C6D !important
}
.invalid .invalid-icon i {
    color :#F05C6D
}

/* End Modals Style */
/* Start Profile Page Style */
.profile-wrap .pg-head .complete-text{
    width:300px;
    height: 27px;
    display: flex;
    align-items: center;
}
.profile-wrap .pg-head .complete-text span{
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, #FFAE3B , #FF716F);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    text-align: right;
    color: #fff;
    padding: 0 20px;
}
.profile-wrap .avatar-upload {
    position: relative;
    max-width: 164px;
    margin-bottom: 30px;
  }
  .profile-wrap .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    bottom: 10px;
  }
  .profile-wrap .avatar-upload .avatar-edit input {
    display: none;
  }
  .profile-wrap .avatar-upload .avatar-edit input + label {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: #1BBAA2;
    border: 1px solid #fff;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-wrap  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .profile-wrap .avatar-upload .avatar-edit input + label:after {
    color: #fff;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
  }
  .profile-wrap .avatar-upload .avatar-edit  label:hover::after{
      color:#1BBAA2;
      transition: all .3s;
  }
  .profile-wrap .avatar-upload .avatar-preview {
    width: 164px;
    height: 164px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .profile-wrap .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .profile-wrap .edit-profile{
      padding: 50px 0;
  }
  .profile-wrap .edit-profile .info-sec,
  .profile-wrap .edit-profile .interest-sec{
      margin-bottom:30px;
  }
  .profile-wrap .sub-title{
      font-size:25px;
      margin-bottom:15px;
  }
  .profile-wrap .sub-title span{
      display: block;
      color: #7A7A7D;
      margin-top:4px;
  }
  .profile-wrap .-input{
      position: relative;
      margin-bottom: 20px;
  }
  .profile-wrap .-input input:not([type='checkbox']),
  .profile-wrap .-input input:not([type='radio']),
  .profile-wrap .-input .pf-select{
      width: 100%;
      height:65px;
      line-height: 65px;
      border-radius: 30px;
      border: 1px solid #EDEDF7;
      padding: 0 30px 0 50px;
      transition: all .3s;
      display:flex;
      align-items: center;
  }
  .profile-wrap .-input input:not([type='checkbox']):focus,
  .profile-wrap .-input input:not([type='radio']):focus{
      border-color: #1BBAA2;
      transition: all .3s;
  }
  .profile-wrap .-input .icon{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .profile-wrap .-input .icon i {
      font-size: 20px;
      color : #9999AA;
  }
  .profile-wrap .select2-container .select2-selection--single{
      height: 65px;
      display: flex;
      align-items: center;
      padding: 0 30px 0 50px;
  }
  .profile-wrap .select2-container .select2-selection--single .select2-selection__rendered{
      padding: 0;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
  .select2-dropdown{
        border-color:  #EDEDF7
  }
 .profile-wrap .-input > .ch-label {
     display: flex;
     align-items: center;
     padding: 15px 20px;
     border: 1px solid #EDEDF7;
     border-radius: 30px;
     transition: all .3s;
     cursor: pointer;
 }
 .profile-wrap .-input > .ch-label img{
     filter : grayscale(100%);
     transition: all .3s;
 }
 .profile-wrap .-input > .ch-label h3 {
     font-size: 18px;
     margin-bottom:4px;
     padding-top: 10px;
     margin-left: 15px;
 }
 .profile-wrap .-input > .ch-label h3 span{
     display: block;
     color: #7A7A7D;

 }
 .profile-wrap .-input input[type='checkbox']:checked ~ .ch-label{
    border-color: #1BBAA2;
    transition: all .3s;
 }
 .profile-wrap .-input input[type='checkbox']:checked ~ .ch-label img{
     filter : unset;
     transition: all .3s;
 }
 .profile-wrap .interest-sec > .d-flex{
     flex-wrap: wrap;
     justify-content: space-between;
 }
 .profile-wrap .your-code .code-cpy{
     position: absolute;
     top:50%;
     transform:translateY(-50%);
     right: 20px;
    
 }
 .profile-wrap .your-code .code-cpy i {
    color: #7A7A7D;
    font-size: 20px;
 }
 .profile-wrap .cpy-toast {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    text-align: center;
    background: #666666;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 14px;
    display: none;
 }
 .profile-wrap .ref-code .icon {
    left: 40px;
    transform: translateY(7px);
 }
 .profile-wrap .ref-code .icon i {
     color : #1BBAA2
 }
 .profile-wrap .btns-sec{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
 }
 .profile-wrap .btns-sec .btn-save {
    margin-right: 30px;
 }
/* End Profile Page Style */
/* Start homepage style */
.home-wrap .my-stats{
    padding: 80px 0;
    background-image: url(../imgs/stats-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.home-wrap .my-stats .stats h1 {
    font-size: 40px;
    font-family: noto-bd;
    color: #343456;
}
.home-wrap .my-stats .stats h1 i {
    font-size: 40px;
    vertical-align: baseline;
    color : #1BBAA2;
}
.home-wrap .my-stats .stats .d-flex{
    justify-content: space-between;
    margin: 30px 0;
}
.home-wrap .my-stats .stats .d-flex .icon b {
    color: #fff;
    font-size:18px
}
.home-wrap .my-stats .stats .d-flex h5{
    text-align: center;
    color : #343456;
    font-size: 15px;
    margin-top:10px
}
.home-wrap .my-stats .d-flex > div .icon{
    border: 0;
    width:90px;
    height:90px;
}

.home-wrap .my-stats .d-flex > div .icon:after{
    right: -9px;
    top: -9px;
    width: 107px;
    height: 107px;
}
.home-wrap .my-stats .d-flex > div p {
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    width: 270px;
    background: #F7F7FC;
    border-radius: 30px;
    box-shadow: 0 0 0px 6px #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 210px);
    text-align: center;
    z-index: 1;
}
.home-wrap .my-stats .d-flex > div p:before{
    position: absolute;
    content: '';
    background-image: url(../imgs/Group\ 1480.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top:-11px;
}
.home-wrap .my-stats .d-flex > div .icon:hover p{
    opacity: 1;
    transition: all .3s;
    visibility: visible;
}
.home-wrap .my-stats .web-mob{
    display: flex;
    justify-content: space-between;
}
.home-wrap .my-stats .web-mob .box{
    width:48%;
    
}
.home-wrap .my-stats .web-mob .box ul {
    padding:20px 55px 20px 20px;
    border: 1px dashed #343456;
    border-radius: 20px;
}
.home-wrap .my-stats .web-mob .box h3{
    font-size: 15px;
    color: #343456;
    margin-bottom: 10px;
    font-family: noto-bd;
}
.home-wrap .my-stats .web-mob .box h4{
    font-size: 13px;
    font-family: noto-bd;
    width: 20%
}
.home-wrap .my-stats .web-mob .box li{
    display: flex;
    align-items: center;

}
.home-wrap .my-stats .web-mob .box li > div {
    width:80%
}
.home-wrap .my-stats .web-mob .box li:not(:last-child){
    margin-bottom: 15px
}
.home-wrap .my-stats .web-mob .box li:nth-child(1) .m-progress {
    background-image: linear-gradient(to right, #0CAB93 , #08DCBC);
    border: 1px solid #fff;
}
.home-wrap .my-stats .web-mob .box li:nth-child(2) .m-progress{
    background-image: linear-gradient(to right, #FF716F , #FFAE3B);
    border: 1px solid #fff;
}
.home-wrap .my-stats .web-mob .box .m-progress {
    display: flex;
    height: 20px;
    position: relative;
    border-radius: 20px;
}
.home-wrap .my-stats .web-mob .box .m-progress  .num{
    position: absolute;
    right: -35px
}
.home-wrap .survyes{
    margin-top: 0;
    padding-top: 50px;
}
.home-wrap .create-surv{
    display: flex;
    background: #F7F7FC;
    border-radius: 50px;
    height: 100%
}
.home-wrap .create-surv .photo {
    height: 350px;
}
.home-wrap .create-surv .photo  img{
    height: 100%
}
.home-wrap .create-surv .text{
    padding: 30px 30px 0 30px;
}
.home-wrap .create-surv .text h1 {
    text-transform: uppercase;
    font-size: 27px;
    font-family: noto-bd;
    margin-bottom: 4px;
}
.home-wrap .create-surv .text p {
    font-size: 16px;
    line-height:23px;
    margin-bottom: 30px;
    color: #7B7B7E
}
.home-wrap .timer-slider{
    padding: 40px 0;
    background : #F7F7FC;
}

.home-wrap .timer-slider .owl-theme .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
.home-wrap .timer-slider .owl-theme .owl-nav button:hover{
    background: none;
    color:inherit;
}
.home-wrap .timer-slider .owl-theme .owl-nav button i{
    font-size: 30px
}
.home-wrap .timer-slider .owl-theme .owl-nav button.owl-next{
   right: -50px
}
.home-wrap .timer-slider .owl-theme .owl-nav button.owl-prev{
    left: -50px
 }
.home-wrap .timer-slider .item {
    display: flex;
    justify-content: space-between;
}
.home-wrap .timer-slider .item > div {
    flex: 0 280px;
    margin: auto 0;
}
.home-wrap .timer-slider .text,
.home-wrap .timer-slider .counter,
.home-wrap .timer-slider .pts p {
    display: flex;
    height: 60px;
    background: #fff;
    border-radius: 30px;
    align-items: center;;
}
.home-wrap .timer-slider .text img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid #EDEDF7;
    border-radius: 50%;
}
.home-wrap .timer-slider .text p {
    padding: 0 15px;
    font-size: 11px;
}
.home-wrap .timer-slider .counter {
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}
.home-wrap .timer-slider .counter li{
    position: relative;
    text-align: center;
}
.home-wrap .timer-slider .counter li:not(:last-child):after{
    position: absolute;
    content: ':';
    right: 15px;
    top:50%;
    transform: translateY(-50%);
}
.home-wrap .timer-slider .counter li:not(:last-child){
    padding-right: 30px;
}
.home-wrap .timer-slider .counter li span{
    display: block;
    font-size: 12px;
    color: #7A7A7D;
    text-transform: capitalize;
}
.home-wrap .timer-slider .counter li b {
    font-family: noto-bd;
    color: #343456
}
.home-wrap .timer-slider .pts{
    display: flex;
}
.home-wrap .timer-slider .pts p {
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    font-family: noto-bd;
    color: #343456;
}
.home-wrap .timer-slider .pts > i {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #343456;
}
.home-wrap .timer-slider .pts p span{
    font-size: 12px;
    color: #7A7A7D;
    text-transform: capitalize;
}
.home-wrap .timer-slider .actions{
    display: flex;
}
.home-wrap .timer-slider .actions li:not(:last-child) {
    margin-right: 10px;
}
.home-wrap .timer-slider .actions li a{
    height:50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #FFAE3B , #FF716F);
    border-radius: 50%;
    color: #fff;
    transition:  all .3s;
}
.home-wrap .timer-slider .actions li:hover a{
   opacity: .7;
   transition: all .3s;
}
.home-wrap .timer-slider .actions li a i {
    font-size: 20px
}
.home-wrap .timer-slider .actions li:first-child a{
background-image: none;
background-color: #F05C6D
}
.home-wrap .quick-nav {
    padding: 20px 0;
    background-color: #343456;
    
}
.home-wrap .quick-nav .box{
    position: relative;
    border-radius: 20px;
    height:230px;
}
.home-wrap .quick-nav .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
}
.home-wrap .quick-nav .box:after{
    content: '';
    position: absolute;
    background:#343456;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity:0;
    z-index:1;
    transition: all .3s;
}
.home-wrap .quick-nav .box:hover:after{
    opacity: .5;
    transition: all .3s;
}
.home-wrap .quick-nav .box a{
    position: absolute;
    top:30px;
    left:20px;
    transform: unset;
    font-family: noto-bd;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 2;
    transition: all .3s;
}
.home-wrap .quick-nav .box:hover a {
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    transition: all .3s;
    color: #fff;
}
.home-wrap .quick-nav .box a span{
    display: block;
    font-size: 20px

}
.home-wrap .app {
    background : #343456;
    padding: 50px 0;
}
.home-wrap .app .text img{
    width: 140px;
}
.home-wrap .app .text ol {
    margin: 10px 0 30px 0;
    list-style-type: square;
}
.home-wrap .app .text ol li{
    font-family: noto-bd;
    color: #fff
}
.home-wrap .app .text ol li:first-child{
    margin-bottom: 10px
}
.home-wrap .app .text .d-flex a:first-child{
    margin-right: 20px
}
.home-wrap .app .text .d-flex a{
    transition: all .3s;
}
.home-wrap .app .text .d-flex a:hover{
    opacity: .7;
    cursor: pointer;
    transition: all .3s;
}
.home-wrap .app .owl-item {
    opacity:.5;
    transition: all .3s;
}
.home-wrap .app .owl-item.active.center{
    opacity: 1;
    transition: all .3s;
}
.home-wrap .app .owl-item.active.center .item{
    transform:scale(1.3);
    transition: all .3s;
}
.home-wrap .app .owl-item.active.medium .item{
    transform:scale(1.2);
    transition: all .3s;
}
.home-wrap .app .owl-stage-outer { 
    overflow: visible !important;
    }
    
    .home-wrap .app  .owl-item {
       opacity: 0;
       transition: opacity 500ms;
    }
    .home-wrap .app .owl-item.active {
      opacity: .5;
    }
    .home-wrap .app .owl-item.active.smaller{
        opacity: .3;
    }
    
/* End homepage style */